<?xml version="1.0"?>

<launch>    
    <arg name="ip" default="192.168.0.20" />
    <arg name="port" default="1000" />
    <node name="ipa325_wsg50" pkg="ipa325_wsg50" type="schunk_gripper">
        <param name="ip" value="$(arg ip)"/>
        <param name="port" value="$(arg port)"/>
    </node>
</launch>
